@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html{
  font-size: 62.5%;
  /* overflow: hidden; */
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
} 

#main-body{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  padding-top: 2.8rem;
}

/* COLORS */
.bg-darker{
  background-color: #222222;
}

.bg-lite{
  background-color: #cccccc;
}

.bg-grey{
  background-color: lightgrey;
}
.text-grey{
  color: #222222
}
.text-lite{
  color: #cccccc
}

/* FONT SIZES */

.bold{
  font-weight:600;
}

.bolder{
  font-weight:700;
}

.title-text{
  font-size: 3rem;
}

.hero-text{
  font-size: 4rem;
}

#subtitle-text{
  font-size: 2.2rem;
  font-weight:600;
  padding-top: 1rem;
}

.menu-text{
  font-size: 1.6rem;
  color: #222222;
}

.lg-text{
  font-size: 2rem;
}

.reg-text,
#reg-text{
  font-size: 1.5rem;
}

.small-text{
  font-size: 1.2rem;
  margin: 0;
}

.cartprice-text{
  font-size: 2.2rem;
  color: #0177BF;
}
.counter-text{
  font-size: 1.8rem;
  height: 48px;
}

#counter-btn{
  font-size: 2rem;
}

.card-price {
  text-align: center;
  font-size: 2rem;
  font-weight:600;
}

.center-img{
  text-align: center;
  align-items: center;
}

.link{
  text-decoration: none;
  color: #222222;
  font-size: 2rem;
}

#center,
.center{
  text-align: center;
}

#left,
.left{
  display: flex;
  justify-content: flex-end;
}

#right,
.right{
  display: flex;
  justify-content: flex-start;
}
  

.cardHighlight{
  min-height: 100%;
  max-height: 70%vh;
}

#highlights{
  font-size: 2rem;
  font-weight:700;
  color: white;
  margin:0
}

#prefooter{
  font-size: 1.5rem;
  font-weight:700;
  margin:0
}

.highlightsText{
  color: white;
  text-align: left;
}

#navbar{
  background-color: black;
  font-size: 1.5rem;
  transition:height 1s ease;
}

#offcanvas{
  font-size: 1.5rem;
  width: 35vw;
}

@media all and (min-width:0px) and (max-width: 1000px) {
  /* put your css styles in here */
  #offcanvas{
    font-size: 1.5rem;
    width: 70vw;
  }
  
}

#searchbox{
  width: 85vw;
  font-size: 2rem;
  border-radius: 1rem;
}

.collapseMenu{
  font-size: 2rem;
}

#navfix{
  padding: 1.8rem 0;
}

.bfix{
margin-bottom: 5vh;
}

#footer{
  font-size: 1.2rem;
}

#footer2{
  font-size: 1.2rem;
  padding-bottom: 0;
  margin: 0
}

.accordion{
  display: flex;
  flex: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#btn{
  font-size: 1.5rem;
  padding: 8px 40px;
  border-radius: 20px;
  background-color: #2672e4;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;  
  text-transform:uppercase;
}

#btn:hover{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 8px 40px;
  border-radius: 20px;
  background-color:#222222;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;  
  text-transform:uppercase;
}

#btn-link{
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  justify-content: center;  
}

#btn-link-rrd{
 color: #2672e4;
 text-decoration: none;
}

#offcanvas-center-btn{
  font-size: 1.5rem;
  margin-top: 0%;
  padding: 8px 42px;
  border-radius: 20px;
  background-color: white;
  color: #2672e4;
  border: solid;
  border-color: #2672e4;
  cursor: pointer;
  justify-content: center;  
  text-transform:uppercase;
 
}

#btn-secondary{
  font-size: 1.5rem;
  padding: 8px 40px;
  border-radius: 20px;
  background-color: #73767b;
  color: white;
  cursor: pointer;
  justify-content: center;  
  text-transform:uppercase;
}

#active-btn{
  font-size: 1.2rem;
  padding: 3px 25px;
  background-color: #0d8306;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;  
  text-transform:uppercase;
}

#inactive-btn{
  font-size: 1.2rem;
  padding: 3px 20px;
  background-color: #a80f07;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;  
  text-transform:uppercase;
}

.full-vh {
  height: 100vh;
}

.half-vh {
  height: 80vh;
}

@media all and (min-width:0px) and (max-width: 1000px) {
  /* put your css styles in here */
  .paddingBottom{
    padding-bottom: 25vh;
  }
}

.product-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative, absolute;
}

.slider{
  display:flexbox;
  flex-direction: row;
  flex-wrap: wrap;

}

#breadcrumb{
  text-decoration: none;
}

/* NAVBAR */
.navflex-start{
  display:flex;
  justify-content: flex-start;
  padding-top: 0;
}
.navflex-center{
  display:flex;
  justify-content: center;
}
.navflex-center-bottom{
  display:flex;
  justify-content: space-around;  
}
.navflex-end{
  display:flex;
  justify-content: flex-end;
}

.underline{
  text-decoration: underline;
}


.link-oc{
  text-decoration: none;
  color: #222222;
}

.link-oc:hover{
  text-decoration: none;
  color: #0177BF;
  font-weight: bold;
}

#textlink {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  color: white;

}
#textlink:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
#textlink:hover:before, #textlink:focus:before, #textlink:active:before {
  left: 0;
  right: 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.carousel-caption {
  right: 1%;
  text-align: left;
  background-color: white;
  max-width: 300px;
  right: auto;
  padding:5px;
}

.hvr-zoom-in {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.hvr-zoom-in:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.counter {
  width: 20px;
}

#counter-box{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

.table-padding{
  margin-top: 100px;
}

.account-menu:active{
  background-color: #222222;
}

/* .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
  border-width: 0px !important;
} */

.product-card-label{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.bg-geek{
  background-image: url("https://images.hdqwalls.com/wallpapers/geek-dark-cubes-abstract-4k-cs.jpg");
}